	RewriteEngine On
   	RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^(.*)$ index.php/$1 [L]
    Options +FollowSymLinks 
	RewriteCond %{HTTP_HOST} ^(clubdeecologia\.com)$ [NC] 
	RewriteRule ^(.*)$ http://www.%1/$1 [R=301,L] 